$mobile: "600px";
$tablet: "900px";

$primary: #095000;
$primaryDark: #0A3D00;
$primaryLight: #0F6A00;
$danger: #FF0000;
$dangerDark: #D50000;
$blue: #158eff;
$blueDark: #0A6ED1;
$blueLight: #1DA1FF;
$background: #F5F5F5;